*{
    box-sizing: border-box;
}
html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 10px;
}

body{
    background: coral;
    min-height: calc(100vh - 100pc);
    margin: 50px;
    letter-spacing: -1px;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap:20px;
}

.card{
    background-color: rgba(255,255,255, 0.2);
    box-shadow: 0 0 5px rgba(151, 147, 147, 0.4);
    border-radius: 8px;
    color: white;
    display: grid;
    grid-template-columns: 150px 1fr; /*Porque el minimo es 300px, y quiero que este a la mitad*/
    align-items: center;
    padding: 20px;
    grid-gap: 10px;
}
.card_imgagen{
    width: 100%;
}
@media (max-width:500px){
    .contenedor {
        grid-template-columns: repeat(auto-fit, minmax(200, 1fr) );
    }
    .card{
        grid-template-columns: 1fr;
    }
}
